@media screen and (min-width: 961px) {
    .navbar-outer-div {
        background-color: rgb(255, 255, 255);
        width: 100vw;
        height: 10vh;
        display: flex;
        position: fixed;
        /* align-items: flex-end; */
        align-items: center;
        top: 0;
        justify-content: center;
        z-index: 150;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .navbar-inner-div-border {
        background-color: rgb(255, 255, 255);
        /* border-bottom: 2px solid black; */
        min-width: 100vw;
        /* max-width: 1200px; */
        height: 100%;
        display: flex;
        justify-content: center;
        /* justify-content: space-between; */
        align-items: center;
        
        /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
    }

    .logo-div {
        min-width: 30vw;
        display: flex;
        align-items: center;
        /* padding-left: 10vw; */
        /* justify-content: center; */
    }

    #nav-logo {
        width: 200px;
        cursor: pointer;
    }

    .links-div {
        /* background-color: rgb(108, 148, 108); */
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        min-width: 50vw;
    }

    .link-div {
        /* border: 1px solid red; */
        padding-left: 3em;
        padding-right: 3em;
        min-width: fit-content;
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }

    #nav-link {
        /* display: flex;
        align-items: center;
        justify-content: center; */
        height: 100%;
        font-weight: 400;
        /* letter-spacing: 0.1em; */
        font-size: 1.1em;
        cursor: pointer;
        /* text-transform: uppercase; */
        color: #2e2e2e;
    }

    #nav-link:hover {
        /* transition: all 0.2s ease-in; */
        color: #94211D;
        text-decoration: underline;
        text-underline-offset: 2px;
        text-decoration-thickness: 3px;
        font-weight: 700;
        /* font-weight: 700; */
   }



}

@media screen and (max-width: 960px) {
   
.navbar-outer-div {
        background-color: rgb(255, 255, 255);
        width: 100vw;
        height: 15vh;
        display: flex;
        position: sticky;
        /* align-items: flex-end; */
        top: 0;
        justify-content: center;
        align-items: center;
        z-index: 150;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .navbar-inner-div-border {
        background-color: rgb(255, 255, 255);
        /* border-bottom: 2px solid black; */
        min-width: 80%;
        /* max-width: 1200px; */
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
    }

    .logo-div {
        min-width: 40vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #nav-logo {
        width: 180px;
        cursor: pointer;
    }

    .links-div {
       display: none;
    }

    .link-div {
        /* border: 1px solid red; */
        padding-left: 3em;
        padding-right: 3em;
        min-width: fit-content;
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }

    #nav-link {
        /* display: flex;
        align-items: center;
        justify-content: center; */
        height: 100%;
        font-weight: 400;
        /* letter-spacing: 0.1em; */
        font-size: 1.1em;
        cursor: pointer;
        /* text-transform: uppercase; */
        color: #2e2e2e;
    }

    #nav-link:hover {
        /* transition: all 0.2s ease-in; */
        color: #94211D;
        text-decoration: underline;
        text-underline-offset: 2px;
        text-decoration-thickness: 3px;
        font-weight: 700;
        /* font-weight: 700; */
    }

    #nav-mobile-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-weight: 400;
        font-size: 1.2em;
        color: #2e2e2e;
    }

    .links-mobile-div {
        display: flex;
        position: absolute;
        top: 15vh;
        left: 0;
        flex-direction: column;
    }

    .links-inner-mobile-div {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        z-index: 150;
    }

    .mobile-menu-icon-div {
        font-size: 2em;
        /* border: 1px solid red; */
        width: 25vw;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .link-mobile-div {
        background-color: rgb(255, 255, 255);
        border-bottom: 1px solid gray;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15vh;
        width: 100%;
    }

    .link-mobile-div:first-child {
        border-top: 1px solid gray;
    }

}
